{% extends "layout.html" %}
{% block body %} 


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static',filename='img/1.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Half Heart</h1>
            <span class="subheading">The journey with Happiness Brewer and Soulful Healer.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container" >
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>The journey of victories and hardships, of happiness and sad times, of fortunes and misfortunes, of ups and downs, cause that is what this life is about. The happiness Brewer is here to fill you with good vibes, positivity and make you cherish every little thing.   </p>
        <p>You will be filled with contentment and move in life with double enthusiasm and optimism. The soulful healer will take you on a ride of heartbreaks, losses and nostalgia only to tell you how they are a part of us. </p>
        <p>That these scars are badges we've earned for ourselves. That not only success but failures define us too. Together we will help you conquer anything and yes change your perspective to have a wider vision to everything you see.</p>
        <p>Cause there's this half heart and it will still beats right !</p>
      </div>
    </div>
  </div>

  
 {% endblock %}
